{{#with cube}}
<h1>{{name}}</h1>
<img class="cube" src="{{imageUrl}}">
<div class="details">
  <p><span>Description:</span> {{description}}</p>
  <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
  <a class="btn" href="/">Back</a>
  <a class="btn" href="/details/{{_id}}/attach">Attach</a>
</div>
{{/with}}
<h2>Accessories</h2>
<div class="accessories">
  {{#if accessory}}
    {{#each}}
      {{>accessory}}
    {{/each}}
  {{else}}
  <h3 class="italic">This cube has no accessories yet...</h3>
  {{/if}}
</div>